<div class="d-flex">
  @if ((parentForm() | formGet : basePath() + fieldName() + '.operation').value === FilterOperation.Between) {
    <div class="d-flex w-100">
      <div class="d-flex w-50 align-items-center">
        <div class="w-50">
          <app-input
            *ngIf="type() === 'text' || type() === 'number'"
            [label]="'Start ' + label()"
            [isCurrency]="isCurrency()"
            [inputFormControl]="parentForm() | formGet : basePath() + fieldName() + '.value.0'"
            [additionalErrorMessages]="{
            'invalidValue': 'Start ' + label() + ' is invalid.'
            }"
          ></app-input>
          <app-datepicker
            *ngIf="type() === 'date'"
            [label]="'Start ' + label()"
            [inputFormControl]="parentForm() | formGet : basePath() + fieldName() + '.value.0'"
            [additionalErrorMessages]="{
            'invalidValue': 'Start ' + label() + ' is invalid.'
            }"
          >
          </app-datepicker>
        </div>
        <span class="between-separator">
          and
        </span>
        <div class="w-50">
          <app-input
            *ngIf="type() === 'text' || type() === 'number'"
            [label]="'End ' + label()"
            [isCurrency]="isCurrency()"
            [inputFormControl]="parentForm() | formGet : basePath() + fieldName() + '.value.1'"
          ></app-input>
          <app-datepicker
            *ngIf="type() === 'date'"
            [label]="'End ' + label()"
            [inputFormControl]="parentForm() | formGet : basePath() + fieldName() + '.value.1'"
          >
          </app-datepicker>
        </div>
      </div>

      <div class="ms-2 w-50">
        <app-select
          label="Operation"
          [inputFormControl]="parentForm() | formGet : basePath() + fieldName() + '.operation'"
          [options]="type() | operations: false"
          [optionsDisplayArray]="type() | operations: true"
          [addEmptyOption]="true"
        ></app-select>
      </div>
    </div>
  } @else if ((parentForm() | formGet : basePath() + fieldName() + '.operation').value === FilterOperation.WithinCurrentMonth) {
    <div class="d-flex w-100">
      <div class="d-flex w-50 align-items-center">
        <div class="w-50">
          <app-datepicker
            *ngIf="type() === 'date'"
            [label]="'Start ' + label()"
            [inputFormControl]="startOfMonthFormControl"
          >
          </app-datepicker>
        </div>
        <span class="between-separator">
          and
        </span>
        <div class="w-50">
          <app-datepicker
            *ngIf="type() === 'date'"
            [label]="'End ' + label()"
            [inputFormControl]="endOfTodayFormControl"
          >
          </app-datepicker>
        </div>
      </div>

      <div class="ms-2 w-50">
        <app-select
          label="Operation"
          [inputFormControl]="parentForm() | formGet : basePath() + fieldName() + '.operation'"
          [options]="type() | operations: false"
          [optionsDisplayArray]="type() | operations: true"
          [addEmptyOption]="true"
        ></app-select>
      </div>
    </div>
  } @else {
    <app-input
      *ngIf="type() === 'text' || type() === 'number'"
      class="w-50"
      [label]="label()"
      [isCurrency]="isCurrency()"
      [inputFormControl]="parentForm() | formGet : basePath() + fieldName() + '.value'"
    ></app-input>
    <app-user-autocomplete
      *ngIf="type() === 'users'"
      class="w-50"
      optionValueKey="id"
      [label]="label()"
      [multiple]="true"
      [inputFormControl]="parentForm() | formGet : basePath() + fieldName() + '.value'"
    ></app-user-autocomplete>
    <app-datepicker
      *ngIf="type() === 'date'"
      class="w-50"
      [label]="label()"
      [inputFormControl]="parentForm() | formGet : basePath() + fieldName() + '.value'"
    >
    </app-datepicker>
    <app-autocomlete
      *ngIf="type() === 'list'"
      class="w-50"
      [multiple]="multiple()"
      [label]="label()"
      [inputFormControl]="parentForm() | formGet : basePath() + fieldName() + '.value'"
      [options]="options()"
      [optionValueKey]="optionValueKey()"
      [optionFilterKey]="optionFilterKey()"
      [optionDisplayKey]="optionDisplayKey()"
    >
    </app-autocomlete>
    <app-select
      class="ms-2 w-50"
      label="Operation"
      [inputFormControl]="parentForm() | formGet : basePath() + fieldName() + '.operation'"
      [options]="type() | operations: false"
      [optionsDisplayArray]="type() | operations: true"
      [addEmptyOption]="true"
    ></app-select>
  }
</div>
