/config/config.*.json
/config/feature-config.*.json
!/config/feature-config.sample.json
!/config/config.sample.json
/data/*
/logs/*
/temp/*
./api
./coverage.out
./sqlite/*
./imap-client/__pycache__
api