<app-dialog *ngIf="inDialog()" [headerText]="headerText">
  <ng-template [ngTemplateOutlet]="formTemplate"></ng-template>
</app-dialog>
<ng-container *ngIf="!inDialog()">
  <div [ngTemplateOutlet]="formTemplate"></div>
</ng-container>

<ng-template #formTemplate>
  <ng-container *ngIf="isOpen(); else preview">
    <app-filter-field
      label="Date"
      fieldName="date"
      type="date"
      [parentForm]="parentForm"
      [basePath]="basePath"
    ></app-filter-field>

    <app-filter-field
      label="Name"
      fieldName="name"
      type="text"
      [parentForm]="parentForm"
      [basePath]="basePath"
    ></app-filter-field>

    <app-filter-field
      label="Paid by"
      fieldName="paidBy"
      type="users"
      [parentForm]="parentForm"
      [basePath]="basePath"
    ></app-filter-field>

    @if (showGroupFilter) {
      <app-filter-field
        label="Group"
        fieldName="group"
        type="list"
        optionFilterKey="name"
        optionDisplayKey="name"
        optionValueKey="id"
        [parentForm]="parentForm"
        [basePath]="basePath"
        [options]="groups() ?? []"
        [multiple]="true"
      ></app-filter-field>
    }

    <app-filter-field
      label="Amount"
      fieldName="amount"
      type="number"
      [parentForm]="parentForm"
      [basePath]="basePath"
      [isCurrency]="true"
    ></app-filter-field>

    <app-filter-field
      label="Categories"
      fieldName="categories"
      type="list"
      optionFilterKey="name"
      optionDisplayKey="name"
      optionValueKey="id"
      [parentForm]="parentForm"
      [basePath]="basePath"
      [options]="categories"
      [multiple]="true"
    ></app-filter-field>

    <app-filter-field
      label="Tags"
      fieldName="tags"
      type="list"
      optionFilterKey="name"
      optionDisplayKey="name"
      optionValueKey="id"
      [parentForm]="parentForm"
      [basePath]="basePath"
      [options]="tags"
      [multiple]="true"
    ></app-filter-field>

    <app-filter-field
      label="Status"
      fieldName="status"
      type="list"
      optionFilterKey="value"
      optionDisplayKey="displayValue"
      optionValueKey="value"
      [parentForm]="parentForm"
      [basePath]="basePath"
      [options]="receiptStatusOptions"
      [multiple]="true"
    ></app-filter-field>

    <app-filter-field
      label="Resolved Date"
      fieldName="resolvedDate"
      type="date"
      [parentForm]="parentForm"
      [basePath]="basePath"
    ></app-filter-field>

    <app-filter-field
      label="Added At"
      fieldName="createdAt"
      type="date"
      [parentForm]="parentForm"
      [basePath]="basePath"
    ></app-filter-field>

    <ng-template
      [ngTemplateOutlet]="footerTemplate() ?? defaultFooter"
    ></ng-template>
  </ng-container>
</ng-template>

<ng-template #preview>
  <ng-template
    *ngIf="previewTemplate"
    [ngTemplateOutlet]="previewTemplate"
    [ngTemplateOutletContext]="previewTemplateContext()"
  ></ng-template>
</ng-template>

<ng-template #defaultFooter>
  <app-dialog-footer
    submitButtonTooltip="Apply filter"
    [additionalButtonsTemplate]="resetButton"
    (submitClicked)="submitButtonClicked()"
    (cancelClicked)="cancelButtonClicked()"
  ></app-dialog-footer>
</ng-template>

<ng-template #resetButton>
  <app-button
    matButtonType="iconButton"
    icon="restart_alt"
    color="accent"
    tooltip="Reset filter"
    (clicked)="resetFilter()"
  ></app-button>
</ng-template>
